p{
  color:black;
  font-size:25px;
}

.listitem{
 color:black;
 font-size:20px;
}

.paragraph{ 
  color:black;
  font-size:20px;
}

#background {
  background-color:red;
}

#button{
width:115px;
 height:50px; 
  color:black;
  background-color:blue;
  border-radius:15px;
  border-color:black;
  font-size:14px;
  color:white;
  margin-bottom:35px;
}

#banner{
height:100px;
width:96%;
border:10px solid black;
background-color:blue;
text-align: center;
color:white;
font-size:90px;
}

#footer{
height:48px;
width:95%;
border:10px solid black;
border-radius:10px;
background-color:blue;
text-align: center;
color:white;
font-size:40px;
}

.wrap-list {
width: 90%;
border-radius: 10px;
margin-bottom:15px;
}

.wrap-trivia {
height: 275px;
width: 90%;
border: 5px ridge white;
margin-top:1px;
padding: 25px;
}

.wrap-text{
color:white;
}

.navitems{
list-style-type: none;
display:inline;
margin-right: 30PX;
padding:2px 5px;
}

#navmenu{
text-align: center;
background-color: black;
color:white;
}

a:link{
color:blue;	
}

a:visited{
color:white;
}

a:hover{
color: black;	
}

a:active{
color: purple;
}

.rightside{
float:right;
width:50%;
}

.leftside{
float:left;
width:50%;
}

.clearfloat{
 clear:both; 
}